@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full p-2 border rounded bg-transparent dark:text-white;
}

.btn-primary {
  @apply bg-blue-500 text-white p-2 rounded w-full;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}